:root{
    --primary-color:#008080;
    --second-color: #800080;
    --third-color: #ffff00;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 98vw;
    height: auto;
    display: flex;
}



